.discover-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 20px;

  @media only screen and (max-width: 500px) {
    width: 100%;
    min-width: 100%;
    margin-right: 0 !important;
  }

  &:hover &__art {
    transform: scale(1.05);
  }

  &__art {
    height: 150px;
    width: 150px;
    border-radius: 6px;
    background-size: cover;
    transition: transform 0.15s ease-in-out;
    cursor: pointer;

    &.loading {
      animation: shimmer 2s infinite linear;
      background: linear-gradient(
        to right,
        #eff1f3 4%,
        #e2e2e2 25%,
        #eff1f3 36%
      );
      background-size: 1000px 100%;
    }
  }

  &__title {
    font-size: 15px;
    text-align: center;

    &.loading {
      height: 20px;
      width: 150px;
      margin-top: 15px;
      border-radius: 6px;
      animation: shimmer 2s infinite linear;
      background: linear-gradient(
        to right,
        #eff1f3 4%,
        #e2e2e2 25%,
        #eff1f3 36%
      );
      background-size: 1000px 100%;
    }
  }

  
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
}